<a onclick={{action "onLinkClick" "de"}}
	class={{concat "language-select-button language-select-button--de " (unless isEnglish "language-select-button--active")}}
	href={{germanLink}}>
	{{t "component.language-select.action.de"}}
</a>

<a onclick={{action "onLinkClick" "en"}}
	class={{concat "language-select-button language-select-button--en " (if isEnglish "language-select-button--active")}}
	href={{englishLink}}>
	{{t "component.language-select.action.en"}}
</a>