<button
	type="button"
	class="language-select-button {{if isDe 'language-select-button--active'}}"
	data-test-locale='de'
	{{action 'setLocale' 'de'}}
>
	{{t 'component.language-select.action.de'}}
</button>

<button
	type="button"
	class="language-select-button {{if isEn 'language-select-button--active'}}"
	data-test-locale='en-us'
	{{action 'setLocale' 'en-us'}}
>
	{{t 'component.language-select.action.en'}}
</button>
