{{yield}}
<h3 class="content-project-triptych__title">{{data.title}}</h3>
<p class="content-project-triptych__text">{{data.text}}</p>
<img class="content-project-triptych__coverImg" src="/img/{{data.coverImg}}.svg" alt="{{data.coverImg}}">
<img class="content-project-triptych__leftImg" src="/img/{{data.leftImg}}.svg" alt="{{data.leftImg}}">
<img class="content-project-triptych__rightImg" src="/img/{{data.rightImg}}.svg" alt="{{data.rightImg}}">