<h1>{{t (concat model.prefix 'title')}}</h1>
<ul>
	<li>
		{{#link-to 'index'}}
			<button>{{t (concat model.prefix 'back')}}</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'contact'}}
			<button>{{t (concat model.prefix 'contact')}}</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'job' 'ios'}}
			<button>{{t (concat model.prefix 'ios.title')}}</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'job' 'android'}}
			<button>{{t (concat model.prefix 'android.title')}}</button>
		{{/link-to}}
	</li>
</ul>


{{outlet}}