<h3 class='job-application__title'>{{title}}</h3>

<p class='job-application__description'>{{description}}</p>

<a href='{{detailsLink}}' target='_blank' class='job-application__details_link'>Details</a>
<a href='mailto:jobs+{{team}}@anfe.ma' class='job-application__apply_link'>Bewerben</a>

<p class='job-application__team'>{{team}}</p>

