<div class="project-icons--title">
	<h2>
		<span>{{data.titleBefore}}</span>
		<span style="color: {{meta.color}}">{{data.titleColored}}</span>
		<span>{{data.titleAfter}}</span>
	</h2>
</div>

<div class="project-icons--img">
	{{#if data.img.one}}
	<div>
		{{responsive-image image=data.img.one}}
	</div>
	{{/if}}
	{{#if data.img.two}}
	<div>
		{{responsive-image image=data.img.two}}
	</div>
	{{/if}}
	{{#if data.img.three}}
	<div>
		{{responsive-image image=data.img.three}}
	</div>
	{{/if}}
	{{#if data.img.four}}
	<div>
		{{responsive-image image=data.img.four}}
	</div>
	{{/if}}
</div>

<div class="project-icons--description">
	<p>{{data.description}}</p>
</div>

{{yield}}