{{yield}}
<h2 class="content-project-text__title">{{data.title}}</h2>
<p class="content-project-text__subtitle">{{data.subtitle}}</p>
<h3 class="content-project-text__header">{{data.header}}</h3>
<p class="content-project-text__text">{{data.text}}</p>