<h1 class="aux--hide">{{t "component.project-detail.title"}}</h1>

{{responsive-image image=data.img class="project-cover__artwork" alt=imgAlt}}

<header class="project-cover__header">
	<h2>{{if data.title data.title meta.title}}</h2>
	<p>{{if data.subtitle data.subtitle meta.span}}</p>
</header>

{{yield}}