<div class="content-folder-item__content">
	<h3>{{content.title}}</h3>
	<p>{{content.text}}</p>
</div>

{{#link-to 'language.index' (query-params team=content.id) class='content-folder__navigation-link'}}
	<span class="title">{{content.title}}</span>
	<span class="pagination">{{content.pagination}}</span>
{{/link-to}}

{{yield}}
