{{title (t 'index.title')}}

{{#page-menu startTransparent=true}}
	<ul class="page-menu__lp-jump">
		<li><a href="#philosophy" onclick={{action 'scrollToSection'}}>1</a></li>
		<li><a href="#services" onclick={{action 'scrollToSection'}}>2</a></li>
		<li><a href="#team" onclick={{action 'scrollToSection'}}>3</a></li>
	</ul>

	<ul>
		<li>
			{{#link-to 'projects'}}{{t 'index.nav.projects'}}{{/link-to}}
		</li>
	</ul>
{{/page-menu}}

{{#each model.sections as |data|}}
	{{#if data.services}}
		<div class="grid grid--alt">
			{{component data.component data=data.services selectedId=service}}
		</div>
	{{else if data.reasons}}
		{{component data.component data=data selected=team}}
	{{else}}
		{{component data.component data=data}}
	{{/if}}
{{/each}}

{{outlet}}
