<button {{action 'changeService' 'concept'}}>concept</button>
<button {{action 'changeService' 'design'}}>design</button>
<button {{action 'changeService' 'development'}}>development</button>
<button {{action 'changeService' 'consulting'}}>consulting</button>
<button {{action 'changeService' 'support'}}>support</button>
<button {{action 'changeService' 'management'}}>management</button>

<h1 data-test-service-title>{{selected.title}}</h1>
<p data-test-service-text>{{selected.text}}</p>
