<header>
	<h1>{{data.headline}}</h1>
</header>

<p>{{{data.subtitle}}}</p>

{{yield}}

<button class="content-lp-cover__scroll-down" {{action 'scrollDown'}}>{{t 'component.content-lp-cover.action.scrollDown'}}</button>