<div>
	<h3>{{data.title}}</h3>
	<p>{{data.description}}</p>
</div>
<!--
{{#link-to "language.index" (query-params team=data.id) class="content-lp-team-item__navigation-link"}}
	<span class="content-lp-team-item__title" aria-hidden="true">{{data.shortTitle}}</span>
	<span class="content-lp-team-item__pagination">{{data.pagination}}</span>
{{/link-to}}
-->

{{yield}}