{{title 'Striving for Perfection'}}

<ul>
	<li>
		{{#link-to 'projects'}}{{t (concat model.prefix 'projects')}}{{/link-to}}
	</li>
</ul>

{{#each model.sections as |data|}}
	{{#if data.services}}
		<div class="grid grid--alt">
			{{component data.component data=data labelKey='title' selected=service}}
		</div>
	{{else if data.team}}
		<div class="grid grid--alt">
			{{component data.component data=data labelKey='title' selected=team}}
		</div>
	{{else}}
		{{component data.component data=data}}
	{{/if}}
{{/each}}

{{!--
<div>
	{{#each model.jobs as |job|}}
		{{job-application
			title=job.title
			description=job.description
			details_link=job.details_link
			team=job.team
		}}
	{{/each}}
</div>
--}}
{{outlet}}