<h1>{{t (concat model.prefix 'title')}}</h1>
<h2>{{t (concat model.prefix 'titleSub')}}</h2>

<ul>
	<li>
		{{#link-to 'projects'}}
			<button>{{t (concat model.prefix 'projects')}}</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'imprint'}}
			<button>{{t (concat model.prefix 'imprint')}}</button>
		{{/link-to}}
	</li>
</ul>

<h3>{{t (concat model.prefix 'header01')}}</h3>
<p>{{t (concat model.prefix 'text01')}}</p>
<h3>{{t (concat model.prefix 'header02')}}</h3>
<p>{{t (concat model.prefix 'text02')}}</p>

{{#link-to "index" data-test-content-link-concept (query-params service="concept")}}concept{{/link-to}}
{{#link-to "index" data-test-content-link-design (query-params service="design")}}design{{/link-to}}
{{#link-to "index" data-test-content-link-development (query-params service="development")}}development{{/link-to}}
{{#link-to "index" data-test-content-link-consulting (query-params service="consulting")}}consulting{{/link-to}}
{{#link-to "index" data-test-content-link-support (query-params service="support")}}support{{/link-to}}
{{#link-to "index" data-test-content-link-management (query-params service="management")}}management{{/link-to}}

{{content-slider content=model.services param=service}}

{{outlet}}
