{{title 'Striving for Perfection'}}

<ul>
	<li>
		{{#link-to 'projects'}}{{t (concat model.prefix 'projects')}}{{/link-to}}
	</li>
</ul>

{{content-lp-cover headline='Striving for Perfection' subtitle='anfema is a highly capable team avidly creating individual
and&nbsp;sophisticated digital solutions.' }}

{{content-lp-text
		anchor_id=contentText1.id
		section_number=contentText1.section_number
		title=contentText1.title
		content=contentText1.content
}}

{{content-lp-text
		anchor_id=contentText2.id
		section_number=contentText2.section_number
		title=contentText2.title
		content=contentText2.content
}}

<div class="grid grid--alt">
	{{content-slider contents=service_arr labelKey='title' selected=service }}
</div>

{{content-lp-text
		anchor_id=contentText3.id
		section_number=contentText3.section_number
		title=contentText3.title
		content=contentText3.content
}}

<div class="grid grid--alt">
	{{content-folder contents=team_arr labelKey='title' selected=team }}
</div>

<div>
	{{#each model.jobs as |job|}}
		{{job-application
				title=job.title
				description=job.description
				details_link=job.details_link
				team=job.team
		}}
	{{/each}}
</div>

{{outlet}}