<h1>{{t (concat model.prefix 'title')}}</h1>
<h2>{{t (concat model.prefix 'titleSub')}}</h2>

<ul>
	<li>
		{{#link-to 'projects'}}
			<button>{{t (concat model.prefix 'projects')}}</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'imprint'}}
			<button>{{t (concat model.prefix 'imprint')}}</button>
		{{/link-to}}
	</li>
</ul>

<h3>{{t (concat model.prefix 'header01')}}</h3>
<p>{{t (concat model.prefix 'text01')}}</p>
<h3>{{t (concat model.prefix 'header02')}}</h3>
<p>{{t (concat model.prefix 'text02')}}</p>

{{content-slider
		contents=model.services
		labelKey='title'
		selected=service
}}

{{content-folder
		contents=model.team
		labelKey='title'
		selected=team
}}

{{outlet}}
