<h1 class="project-header__client">{{meta.client}}</h1>
<h1 class="project-header__title">{{{meta.title}}}</h1>

{{yield}}

<button class="project-header__scroll-down" {{action "scrollDown"}}>
	{{t "component.content-lp-cover.action.scrollDown"}}
</button>