<div class="project-header__background">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 50">
		<g>
			<polygon class="{{meta.id}}-color--zero" points="0 0 0 50 600 50 600 0 0 0"/>
			<polygon class="{{meta.id}}-color--one" points="480 0 514 50 600 50 600 0 480 0"/>
			<polygon class="{{meta.id}}-color--two" points="510 0 527 50 600 50 600 0 510 0"/>
			<polygon class="{{meta.id}}-color--three" points="539 0 560 50 600 50 600 0 540 0"/>
		</g>
	</svg>
</div>

<div class="project-header__text">
	<h1 class="project-header__client">{{meta.client}}</h1>
	<h1 class="project-header__title">{{{meta.title}}}</h1>
</div>

<div class="project-header__image">
	<div>
		{{responsive-image image=data.img}}
	</div>
</div>

<button class="project-header__scroll-down" {{action "scrollDown"}}>
	{{t "component.content-lp-cover.action.scrollDown"}}
</button>