<div class="projects-list-item__inner bgColor--{{project.id}}">
	<div>
		<h3 class="projects-list-item__client">{{project.client}}</h3>
		<h4 class="projects-list-item__title">{{project.title}}</h4>
	</div>
	<div class="project-list-item__img">
		{{responsive-image image=project.img}}
	</div>
</div>

{{yield}}
