
<div class="projects-list">

	<div class="projects-list-item__inner bgColor--paulaner">
		<div class="projects-list-item__header">
			<h3 class="projects-list-item__client">Paulaner</h3>
			<h4 class="projects-list-item__title">iPad App</h4>
		</div>

		<div class="projects-list-item__introMessage">
			<div class="introQuote">
			</div>
		</div>

		<div class="projects-list-item__image">
			{{!-- {{responsive-image image=paulaner-overview_paulaner.png}} --}}
		</div>

	</div>

{{!-- 	<div class="projects-list-item__inner bgColor--{{project.id}}">
		<div class="projects-list-item__header">
			<h3 class="projects-list-item__client">{{project.client}}</h3>
			<h4 class="projects-list-item__title">{{project.title}}</h4>
		</div>

		<div class="projects-list-item__introMessage">
			<div class="introQuote">
			</div>
		</div>

		<div class="projects-list-item__image"></div>

	</div> --}}

</div>
{{yield}}