{{#each contents as |content|}}
<span class="content-quote__quotationmark content-quote--quotationmark-open">“</span>
    <h2 class="quote-text">{{content.quote_text}}</h2>
    <span class="content-quote__quotationmark content-quote--quotationmark-close">”</span>
    <p class="quote-source">{{content.quote_source}}</p>
    {{#if content.project}}
        {{#link-to 'projects.details' (query-params id=content.project) class=''}}
            {{#if content.quote_link_label}}
                {{content.quote_link_label}}
            {{else}}
                {{t 'component.contet-quote.action.showProject'}}
            {{/if}}
        {{/link-to}}
    {{/if}}
{{/each}}

{{yield}}
