<div class="contact__content">
	<h2>{{data.title}}</h2>
	<p class="contact__description">{{data.description}}</p>
	<a class="contact__button"
	   href="mailto:{{t "component.page-footer.email.value"}}
	   ?subject={{data.subject}}%20{{meta.client}}%20{{meta.title}}
	   &body={{data.body.partOne}}%20{{meta.client}}%20{{meta.title}}%20{{data.body.partTwo}}">
		{{data.button}}
	</a>
</div>
