{{outlet}}
<h1>{{t (concat model.prefix 'title')}}</h1>
<h2>{{t (concat model.prefix 'titleSub')}}</h2>
<ul>
	<li>
		{{#link-to 'projects'}}
			<button>{{t (concat model.prefix 'back')}}</button>
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'index'}}
			<button>{{t (concat model.prefix 'landing')}}</button>
		{{/link-to}}
	</li>
</ul>







