{{yield}}

{{#each projects as |project|}}
	{{#unless project.meta.hidden}}
		{{projects-list-item project=project.meta}}
	{{/unless}}
{{/each}}


<a class="projects-list-item projects-list-item__contact" href="mailto:{{t "component.contact.email"}}">
	<div class="projects-list-item__contactMessage">
		<h3 class="projects-list-item__client">{{t "component.contact.titleMore"}}</h3>
		<h4 class="projects-list-item__title">{{t "component.contact.descriptionMore"}}
			<a href="mailto:{{t "component.contact.email"}}">
				{{t "component.contact.email"}}
			</a>
		</h4>
	</div>
	<div class="projects-list-item__contactImage">
		<img src="/img/logo-cutoff.png" alt="anfema-logo" width="100%" height="100%">
	</div>
</a>